a {-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;}


.side_label{
   width: 45px;
}

html,
body {
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}
