<tr>
    <th><label for="id_title">Title:</label></th>
    <td>

      <input type="text" name="title" class="form-control" maxlength="100" required id="id_title">


    </td>
  </tr>

  <tr>
    <th><label for="id_url">Url:</label></th>
    <td>

      <input type="url" name="url" class="form-control" maxlength="200" id="id_url">


    </td>
  </tr>

  <tr>
    <th><label for="id_notes">Notes:</label></th>
    <td>

      <input type="text" name="notes" class="form-control" id="id_notes">




    </td>
  </tr>
